validation-flow/validation-flow-unpack/default/validation-flow/validation-flow-unpack/default-unpack/store/schemas/ws-mediationpolicy-1.9-2014-05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM
  IBM WebSphere DataPower Appliances
  Copyright IBM Corporation 2014,2014. All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<xs:schema targetNamespace="http://www.ibm.com/xmlns/stdwip/2014/05/ws-mediation"
  elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:wsme="http://www.ibm.com/xmlns/stdwip/2014/05/ws-mediation">

  <xs:element name="Rule">
    <xs:complexType>
      <xs:sequence>
        <!-- Left out to avoid non-deterministic content model and provide for 
          extensibility <xs:element ref="wsme:Condition" maxOccurs="1" minOccurs="0" 
          /> <xs:element ref="wsme:Action" maxOccurs="unbounded" minOccurs="1"/> -->
        <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
      </xs:sequence>
      <xs:anyAttribute namespace="##local" processContents="lax"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Condition" type="wsme:condition"/>

  <xs:complexType name="condition-base" mixed="true">
    <xs:sequence>
      <xs:element ref="wsme:Expression" maxOccurs="1" minOccurs="0" />
      <xs:element ref="wsme:Schedule" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="condition">
    <xs:complexContent>
      <xs:extension base="wsme:condition-base">
        <xs:attribute name="Name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Action">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueMessage" maxOccurs="1" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:choice maxOccurs="unbounded" minOccurs="0">

          <xs:element name="RejectMessage">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string"/>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>

          <xs:element name="Notify">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>

          <xs:element name="RouteMessage">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Algorithm" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Parameter" maxOccurs="unbounded"
                        minOccurs="0">
                        <xs:complexType>
                          <xs:attribute name="Name" type="xs:string">
                          </xs:attribute>
                          <xs:attribute name="Value" type="xs:string">
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="Name" type="xs:string">
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="EndPoint" type="wsme:endpoint" maxOccurs="unbounded" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element ref="wsme:ValidateMessage" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:ExecuteXSL" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Execute" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Log" minOccurs="0" maxOccurs="unbounded" />

        </xs:choice>
      </xs:sequence>
      <xs:attribute name="IfCondition" type="xs:boolean" default="true" use="optional"></xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="endpoint">
    <xs:complexContent>
      <xs:extension base="wsme:endpoint-base">
        <xs:attribute name="Name" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="endpoint-base" mixed="true">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ResponseAction">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="wsme:ValidateMessage" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:ExecuteXSL" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Execute" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Log" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FaultAction">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="wsme:ValidateMessage" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:ExecuteXSL" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Execute" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="wsme:Log" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Expression">
    <xs:complexType>
      <xs:all>
        <xs:element name="Attribute" type="xs:string" />
        <xs:element name="Operator" type="xs:string" />
        <xs:element name="Value">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Interval" maxOccurs="1" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Limit" type="xs:integer" maxOccurs="1" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Daily" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="StartTime" type="xs:time" />
            <xs:attribute name="StopTime" type="xs:time" />
          </xs:complexType>
        </xs:element>
        <xs:element name="WeekDays" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="Days" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="StartDate" type="xs:date" use="optional" />
      <xs:attribute name="StopDate" type="xs:date" use="optional" />
      <xs:attribute name="TimeZone" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ValidateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="XSD">
            <xs:complexType mixed="true">
              <xs:sequence>
                <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="WSDL">
            <xs:complexType mixed="true">
              <xs:sequence>
                <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="JSV">
            <xs:complexType mixed="true">
              <xs:sequence>
                <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element name="Scope" type="xs:string" maxOccurs="1" minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ExecuteXSL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string">
            </xs:attribute>
            <xs:attribute name="Value" type="xs:string">
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Stylesheet">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string">
            </xs:attribute>
            <xs:attribute name="Value" type="xs:string">
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Input" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:anyURI">
                <xs:attribute name="Scheme">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="JSON"/>
                      <xs:enumeration value="XML"/>
                      <xs:enumeration value="XSD"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transform" type="wsme:transform"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="transform">
    <xs:complexContent>
      <xs:extension base="wsme:transform-base">
        <xs:attribute name="Language">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="XQuery"/>
              <xs:enumeration value="Javascript"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="transform-base" mixed="true">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Log">
     <xs:complexType>
       <xs:simpleContent>
         <xs:extension base="xs:string">
           <xs:attribute name="To" type="xs:string" use="optional" />
           <xs:attribute name="Severity" type="xs:string" use="optional" />
         </xs:extension>
       </xs:simpleContent>
     </xs:complexType>
   </xs:element> 
  
</xs:schema>
