validation-flow/validation-flow-unpack/default-unpack/store/schemas/dp-wsm-agent-append.xsd

<?xml version="1.0"?>
<!--
  Licensed Materials - Property of IBM
  IBM WebSphere DataPower Appliances
  Copyright IBM Corporation 2008,2013. All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.datapower.com/schemas/transactions"
            xmlns:tns="http://www.datapower.com/schemas/transactions"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <!-- the enumeration, 'yes', to opt-in to behavior -->
    <xsd:simpleType name="yes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- an ip address in a.b.c.d notation that supports @default-->
    <xsd:simpleType name="ipaddress">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="defaulted-ipaddress">
        <xsd:simpleContent>
            <xsd:extension base="tns:ipaddress">
                <xsd:attribute name="default" type="tns:yes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- a string type that supports @default -->
    <xsd:complexType name="defaulted-string">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="default" type="tns:yes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- a positiveInteger type that supports @default -->
    <xsd:complexType name="defaulted-positiveInteger">
        <xsd:simpleContent>
            <xsd:extension base="xsd:positiveInteger">
                <xsd:attribute name="default" type="tns:yes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- the only valid root element -->
    <xsd:element name="wsa-record">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="is-one-way" type="xsd:boolean" minOccurs='1' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            True if recording a one-way message exchange pattern.  False
                            if recording a two way message exchange pattern such as 
                            the typical Request-Response message exchange.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="request-uri" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the path part of the URL requested by the client.
                            Specify the attribute default to use the value of
                            var://service/URI for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="final-front-url" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the URL requested by the client.
                            Specify the attribute default to use the value of
                            var://service/URL-in for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="webservice" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Characterize the traffic type for the ITCAM service
                            navigator.  Specify "8" to characterize as SOAP
                            traffic, "9" to characterize as XML (non-SOAP) or
                            "10" to characterize as non-XML.  

                            Specify the attribute default to derive this value
                            from the client traffic type setting of the MPGW.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="service-port" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the wsdl:port qname or equivalent. This is
                            required to be set to use the ITCAM service 
                            navigator integration.

                            Specify the attribute default to use the value of
                            var://service/wsm/service-port for the current transaction.
                            Outside of the WS-Proxy, this variable must be set
                            manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-operation" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the wsdl:operation ncname or equivalent. This is
                            required to be set to use the ITCAM service navigator
                            integration.

                            Specify the attribute default to use the value of
                            var://service/wsm/operation for the current transaction.
                            Outside of the WS-Proxy, this variable must be set
                            manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-client-id" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the ITCAM client id value.
                            This value is populated by AAA Policy which must be executed
                            first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-clientid-extmthd" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the ITCAM client id extraction method.
                            This value is populated by AAA Policy which must be executed
                            first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-correlator-sfid" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the ITCAM correlator service flow ID
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-client-socode" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the ITCAM client SO CODE
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-dp-socode" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the datapower SO CODE
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-server-socode" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the Server SO CODE.
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-client-hopcount" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the client hop count.
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="ws-server-hopcount" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the server hop count.
                            This value is populated by the soapreq, soaprsp or soaperror 
                            ITCAM service navigator integration stylesheets which must
                            be executed first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="client" type="tns:defaulted-ipaddress" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the IP address of the client initiating the transaction.
                            Specify the attribute default to use the value of
                            var://service/transaction/client for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="username" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the username associated to this transaction.
                            Specify the attribute default to use the value of
                            var://context/WSM/identity/username for the current transaction.
                            This value is populated by AAA Policy which must be executed
                            first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="credential" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the credential associated to this transaction.
                            Specify the attribute default to use the value of
                            var://context/WSM/identity/credentials for the current transaction.
                            This value is populated by AAA Policy which must be executed
                            first. Otherwise, a value may be provided manually.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="start-time" type="tns:defaulted-string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the start time (in seconds granularity).
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="duration-ms" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the total transaction duration in milliseconds.
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="front-latency-ms" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the front-side latency in milliseconds.
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="back-latency-ms" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the back-side latency in milliseconds.
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="request-size" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the client request size in bytes.
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="response-size" type="tns:defaulted-positiveInteger" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the client response size in bytes.
                            Specify the attribute default to use the internally
                            calculated value for the current transaction.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="error-code" type="xsd:string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the DataPower error code for a transaction that triggered
                            DataPower error processing.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="error-subcode" type="xsd:string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the DataPower error subcode for a transaction that triggered
                            DataPower error processing. This is often the same value as the
                            error-code but sometimes provides a finer grained reason.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="fault-code" type="xsd:string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the fault-code for a transaction that returned a fault
                            to the client.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="fault-message" type="xsd:string" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the fault message for a transaction that returned a fault
                            to the client.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="backend-message" minOccurs='0' maxOccurs='1'>
                    <xsd:annotation>
                        <xsd:documentation>
                            Record the request and response to the server.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="backend-url" type="xsd:string" minOccurs='1' maxOccurs='1'>
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Record the server URL for this message exchange.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
